@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: rgb(235, 235, 235);
}

.title {
  color: #fff;
}

.btn {
  background-color: #fff;
  color: #000;
}

.btn-black-white {
  background-color: #000;
  color: #fff;
}